{% assign lang_code = page.lang | default: site.default_lang %}
<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.phone %}
      <div class="call-phone"><strong>Tel:</strong> <a href="tel:+817083592530">{{ site.data.contact.phone }}</a></div>
    {% endif %}
    {% if site.data.contact.email %}
      <div class="call-email"><strong>Email:</strong> <a href="mailto:{{ site.data.contact.email }}">{{ site.data.contact.email }}</a></div>
    {% endif %}
    {% if site.data.contact.address %}
      <div class="call-address"><strong>{% if lang_code == 'en' %}Address:{% else %}所在地:{% endif %}</strong> {{ site.data.contact.address[lang_code] | default: site.data.contact.address[site.default_lang] }}</div>
    {% endif %}
  </div>
  {% if include.show_button %}
    {% assign contact_link = site.data.contact.contact_button_link[lang_code] | default: site.data.contact.contact_button_link[site.default_lang] %}
    <div class="call-box-bottom">
      <a href="{{ contact_link | relative_url }}" class="button">{% if lang_code == 'en' %}Book a Call{% else %}無料相談はこちら{% endif %}</a>
    </div>
  {% endif %}
</div>
