<div class='header'>
  <div class="container">
    <div class="logo">
      <a href="{{ site.baseurl | default: '/' | relative_url }}">
        <img width="{{ site.branding.desktop_width }}" height="{{ site.branding.desktop_height }}" alt="{{ site.title }}" src="{{ site.branding.desktop | relative_url }}" />
      </a>
    </div>
    <div class="logo-mobile">
      <a href="{{ site.baseurl | default: '/' | relative_url }}">
        <img width="{{ site.branding.mobile_width }}" height="{{ site.branding.mobile_height }}" alt="{{ site.title }}" src="{{ site.branding.mobile | relative_url }}" />
      </a>
    </div>
    {% include main-menu.html %}
    {% include hamburger.html %}
  </div>
</div>
